.App {
  text-align: center;
}

.App-header {
  background-color: #f7e7b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #6b4f1e;
  padding: 0px;
}

.cheese-title {
  font-family: 'Chewy', cursive;
  font-size: 7rem;
  margin: 0px;
  text-shadow: 3px 3px #dc533b;
  color: #fda744;
  margin-bottom: 10px;
  margin-top: -30px;
}

.cheese-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.cheese-per-click, .cheese-per-second {
  font-family: 'Chewy';
  font-size: 1.3rem;
  color: #6b4f1e;
  margin-bottom: 50px;
  margin-top: -40px;
}

.cheese-container {
  position: relative;
  cursor: pointer;
  margin: 20px;
  margin-top: 10px;
  transition: transform 0.1s ease;
}

.cheese-container:hover {
  transform: scale(1.1);
}

.cheese-image {
  width: 300px;
  height: 300px;
  transition: transform 0.2s ease;
}

.cheese-image.bounce {
  animation: bounce 0.1s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cheese-count {
  font-family: 'Chewy', cursive;
  font-size: 3rem;
  color: #ffbb1c;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-right: 22px;
  margin-top: 10px;
}

.upgrades {
  margin-top: 20px;
}

.upgrade-button {
  background-color: #ffa500;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.upgrade-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.upgrade-button:hover:not(:disabled) {
  background-color: #ff8c00;
}

.popup-message {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffa500;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.toggle-button {
  position: relative;
  top: 20px;
  left: -650px;
  background-color: #ffa500;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, left 0.3s ease;
  z-index: 1000;
}

.toggle-button:hover {
  background-color: #ff8c00;
}

.button-visible {
  left: -402px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #f7e7b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.visible {
  left: 0;
}

.sidebar h2 {
  margin-top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
