/* This file contains the CSS for the entire application. */

.App {
  text-align: center;
  padding: 0px;
}

.App.container {
  display: flex;
  transition: transform 0.8s ease;
}

.sidebar-open .App-content {
  transform: translateX(100px);
  transition: transform 0.8s ease;
}

* {
  user-select: none; /* Prevents selection of all elements */
}

/* Styling for the header */
.App-header {
  background-color: #f7e7b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #6b4f1e;
  padding: 0px;
}

/* Styling for the title */
.cheese-title {
  font-family: 'Cheese'; /* Custom font */
  font-size: 7vw;
  margin: 0px; 
  margin-top: 50px;
  text-shadow: 3px 3px #dc533b; /* Adds a shadow to the text */
  color: #fda744;
  justify-content: center; /* Center the text */
  align-items: center; 
  white-space: nowrap;
}

/* Styling for the stats display */
.cheese-stats {
  display: flex; /* Display the stats in a row */
  font-size: 1.3rem; 
  justify-content: center; 
  align-items: center;
  margin-bottom: 5px;
  margin-top: 53px;
  margin-right: 36px;
  gap: 20px; /* Add space between the elements */
}

/* Styling for the cheese per click and cheese per second stats */
.cheese-per-click, .cheese-per-second {
  font-family: 'Cheese-Small'; /* Custom font */
  font-size: 1.8vw;
  color: rgb(178, 112, 20); 
  margin-bottom: 50px; 
  margin-top: -40px;
  text-shadow: 
  -0.5px -0.5px 0 #000,
  0.5px -0.5px 0 #000,
  -0.5px 0.5px 0 #000,
  0.5px 0.5px 0 #000;
}

/* Element to handle the cheese image */
.cheese-container {
  position: relative; /* Allows the image to be positioned relative to the container */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the image */
  margin: 20px;
  margin-top: 0px;
  left: -25px;
  transition: transform 0.1s ease; /* Add a smooth transition when the image is hovered over */
  user-select: none; 
}

/* Scale the image up when hovered over */
.cheese-container:hover {
  transform: scale(1.1);
}

/* Add a smooth transition when the image is clicked */
.cheese-image {
  width: 22vw;
  height: 22vw; 
  transition: transform 0.2s ease;
}

/* Add a bounce animation when the image is clicked */
.cheese-image.bounce {
  animation: bounce 0.1s ease;
}

/* Bounce animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Element to handle the total cheese count display */
.cheese-count {
  font-family: 'Chewy', cursive; 
  font-size: 3.5vw;
  color: #ffbb1c;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-right: 60px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

/* Element to handle 'Upgrades' title display in the sidebar */
.upgrades {
  font-family: "cheese-upgrades"; /* Custom font */
  font-size: 2.3rem;
  text-shadow: 3px 3px #dc533b;
  color: #fda744;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Element to handle the upgrade/purchase buttons */
.upgrade-button {
  background-color: #ffa500;
  color: white;
  font-size: 1rem;
  padding: 4px 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease; /* Add a smooth transition when hovered over */
  position: relative;
  min-width: 220px;
}

/* Disable the button when the user does not have enough cheese */
.upgrade-button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed; /* Change the cursor to not-allowed */
}

/* Change the background color of the button when hovered over */
.upgrade-button:hover:not(:disabled) {
  background-color: #ff8c00;
}

/* Styling for the upgrade button details */
.upgrade-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.upgrade-name {
  flex: 1;
  text-align: left;
  font-size: 0.9rem;
}

.upgrade-cost {
  flex: 0;
  text-align: right;
  display: flex;
  align-items: center;
  white-space: nowrap;
  bottom: -4px;
  position: relative;
  font-size: 0.85rem;
}

.upgrade-level {
  position: absolute;
  bottom: -16px;
  text-align: left;
  font-size: 0.58rem;
  color: #fff;
}

/* Element to handle the popup message displaying which upgrade you recieved */
.popup-message { 
  font-family: "cheese-upgrades", cursive; /* Custom font */
  text-shadow: 1px 1px #dc533b; 
  color: #fda744;
  position: relative; 
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 2vw;
  margin-top: -50px;
  margin-left: -45px;
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: flyIn 3s ease-in-out; /* Add a fly-in animation */
}

/* Add a fly-in animation to the popup message */
@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Element to handle button to open the upgrades sidebar */
.toggle-button {
  background-color: transparent;
  width: 10vw;
  height: auto;
  left: 15px;
  top: 5px;
  padding: 0;
  border: none;
  cursor: pointer;
  justify-content: left;
  align-items: left;
  display: flex;
  transition: left 0.5s ease, transform 0.5s ease;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure the button is on top of all other elements */
}

.toggle-button img.highlight {
  filter: drop-shadow(0 0 20px rgb(143, 255, 44));
}

/* Position the button in the top-left corner when sidebar is VISIBLE */
.left-60 {
  top: 5px;
  left: 160px;
  transition: left 0.5s ease; /* Ensure the transition matches the sidebar's transition */
}

/* Position the button in the top-left corner when the sidebar is HIDDEN */
.left-5 {
  top: 5px;
  left: 15px;
  transition: left 0.5s ease; /* Ensure the transition matches the sidebar's transition */
}

/* Scale the button up when hovered over */
.toggle-button:hover {
  background-color: transparent;
  transform: scale(1.1);
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save-button {
  background-color: transparent;
  width: 10vw;
  height: auto;
  padding: 5px;
  border: none;
  cursor: pointer;
  align-items: left;
  justify-content: left;
  display: flex;
  transition: background-color 0.3s ease;
  transition: left 0.5s ease, transform 0.5s ease;
  margin-top: 100px;
  margin-left: 11px;
}

.settings-button {
  background-color: transparent;
  width: 10vw;
  height: auto;
  padding: 5px;
  border: none;
  cursor: pointer;
  align-items: left;
  justify-content: left;
  display: flex;
  transition: background-color 0.3s ease;
  transition: left 0.5s ease, transform 0.5s ease;
  margin-top: 180px;
  margin-left: 11px;
}

.save-button:hover {
  background-color: transparent;
  transform: scale(1.2);
}

.settings-button:hover {
  background-color: transparent;
  transform: scale(1.2);
}

.settings-modal {
  font-family: "cheese-upgrades";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #ffdc9b;
  padding: 20px;
  border: 2px solid #6b4f1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: auto;
}

.settings-modal h2 {
  font-family: "cheese-upgrades";
  font-size: 3rem;
  text-shadow: 2px 2.5px #dc533b;
  color: #fda744;
  text-align: center;
  margin-bottom: 20px;
}

.settings-modal .volume-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.settings-modal .volume-slider {
  width: 60%;
  margin-top: 10px;
}

.restart-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 100px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.autosave-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: -100px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autosave-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.autosave-button.disabled {
  background-color: #cccccc;
}

.autosave-button.enabled {
  background-color: #4caf50;
}

.autosave-popup {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #262525;
  padding: 5px 5px;
  border-radius: 3px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-size: 0.68rem;
  opacity: 0.9;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

/* Element to handle the sidebar */
.sidebar {
  position: fixed; /* Fix the sidebar to the screen */
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px; /* Set the width of the sidebar */
  background-color: #f7e7b4;
  padding: 12px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  z-index: 999; /* Ensure the sidebar is on top of all other elements */
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar h2 {
  margin-top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
