@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cheese";
  src: local("cheese-font"),
    url("./fonts/cheese-font.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cheese-Small";
  src: local("cheese-small"),
    url("./fonts/cheese-stats2.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Cheese-Upgrades";
  src: local("cheese-upgrades"),
    url("./fonts/New Cheese.otf") format("opentype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
